.base {
  background-image: url(../img/ground.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .man {

    &-img {
      position: absolute;
      top: 10px;
      right: 0;


      @media screen and (max-width: 992px) {
        transform: scale(0.8);
        top: -60px;
        right: -40px;
      }

      @media screen and (max-width: 540px) {
        position: relative;
        transform: scale(1);
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        top: 0;
        right: 0;
      }
    }
  }

  .header {

    &_greg {
      padding-top: 100px;
      padding-left: 50px;
      max-width: 700px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 992px) {
        max-width: 500px;
        padding-top: 30px;
      }

      @media screen and (max-width: 540px) {
        max-width: none;
        align-items: center;
        transform: scale(0.4);
        padding-left: 0px;
        padding-top: 0px;
      }
    }
  }

}