@font-face {
  font-family: 'Lora';
  src: url('../fonts/');
  src: url('../fonts/Lora-Regular.eot') format('embedded-opentype'),
    url('../fonts/Lora-Regular.woff') format('woff'),
    url('../fonts/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}